<!DOCTYPE html>
<!-- Page with info about a user
    Mapped by the subdirectory "/account"-->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <title>CE War - Account</title>
        <link rel="stylesheet" type="text/css" th:href="@{style.css}">
        <link rel="icon" type="image/png" th:href="@{images/logo.png}">
    </head>
    <body>
        <!-- Replace this item with the container located at resources/templates/fragments/header that has the tag "th:fragment="header"" -->
        <div th:replace="~{fragments/header :: header}"/>

        <main>
            <section id="account-statistics">
                <h1>Statistics</h1>
                <div id="statistics-left">
                <div>Games Played:</div>
                <div>Wins:  <span th:text="${user.wins}"/></div>
                <div>Draws: <span th:text="${user.draws}"/></div>
                <div>Losses: <span th:text="${user.losses}"/></div>
                </div>
                <div id="statistics-right">
                </div>
            </section>
        </main>
        <section id="account-nav">
            <a id="account-store-button" href="/pack"><p>Store</p></a>
            <a id="account-online-play-button" href="play.html"><p>Play Online</p></a>
            <a id="account-card-index-button" href="/account/inventory"><p>Card Manager</p></a>
        </section>
    </body>
</html>