<!DOCTYPE html>
<!-- Displays a database of all cards a user owns
    Mapped by the subdirectory "/account/inventory" -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>CE War - User Inventory</title>
    <link rel="stylesheet" type="text/css" th:href="@{~/styles/style.css}">
    <link rel="icon" type="image/png" th:href="@{~/images/logo.png}">
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script th:src="@{~/scripts/searchCardCollection.js}"></script>
</head>
<body>
    <div th:replace="~{fragments/header :: header}" />

    <div th:replace="~{fragments/card :: card-search(${cardDataArr})}"></div>
</body>
</html>